.legends{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:-3% 10%;
    margin-bottom: 5%;
}
.blockLegend{
    display: flex;
    flex-direction: row;
}
.legende{
    width:40px;
    height:30px;
    border-radius: 20%;
    margin-right: 7px;
}
.blue1{
    background-color:#113e51;
}
.blue2{
    background-color:rgb(53,115,128);
}
.blue3{
    background-color:rgb(118,190,214);
}