<!DOCTYPE html>

{% load static %}

<html>
    <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Projet tutoré groupe 7</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Analyses de données dans le cadre d'un projet tutoré" />
        <!-- <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" /> -->
        <meta name="author" content="FREEHTML5.CO" />

        <meta property="og:title" content=""/>
        <meta property="og:image" content=""/>
        <meta property="og:url" content=""/>
        <meta property="og:site_name" content=""/>
        <meta property="og:description" content=""/>

        <!-- Icon du site web -->
	    <link rel="shortcut icon" href="{% static 'images/icon.png' %}">
        <!-- Animate.css -->
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <!-- Icomoon Icon Fonts-->
        <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
        <!-- Bootstrap  -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <!-- Owl Carousel -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <!-- Modernizr JS -->
	    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    </head>

    <body>

        <!-- Haut de page  -->
        <header>
            <div class="container text-center">
                <div class="fh5co-navbar-brand">
                    <a class="fh5co-logo" href="acceuil.html">Analyses</a>
                </div>
                <nav id="fh5co-main-nav" role="navigation">
                    <ul>
                        <li><a href="{% url 'accueil' %}" class="active">Acceuil</a></li>
                        <li><a href="{% url 'graphe' %}">Graphe</a></li>
                        <li><a href="{% url 'carte' %}">Carte</a></li>
                    </ul>
                </nav>
            </div>
        </header> <!--Fin du haut de page  -->
    
        <!-- Explication du projet  -->
        <div id="fh5co-common-section">
            <div class="container">
                <div class="heading-section text-center">
                    <h2>Répartition des médailles selon le genre</h2>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-6 col-sm-6 services-num services-num-text-right">
                            <span class="number-holder"><a href="{% static 'images/graphe.html' %}"><i class="icon-piechart"></i></a></span>
                            <div class="desc">
                                <h3>Diagramme Circulaire</h3>
                                <p>Répartition des médailles obtenues pour chaque pays selon le genre.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 services-num">
                            <span class="number-holder"><a href="{% static 'images/carte.html' %}"><i class="icon-globe"></i></a></span>
                            <div class="desc">
                                <h3>Planisphère </h3>
                                <p>Mise en avant des différentes régions du monde en fonction des critères de genre.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Fin de l'explication du projet-->

        <!-- Qui sommes-nous ? -->
        <div id="fh5co-services-section">
            <div class="container">
                <div class="heading-section text-center">
                    <h2>Qui sommes-nous ?</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="fh5co-services-right">
                            <div class="fh5co-table2 fh5co-table2 text-center">
                                <div class="fh5co-table-cell2">
                                    <img src="{% static 'images/augustin.png' %}" class="photo"/>
                                </div>
                            </div>
                            <div class="holder-section">
                                <h3>GIRAUDIER AUGUSTIN</h3>
                                <p>20 ans </p>
                            </div>
                        </div>


                        <div class="fh5co-services-right">
                            <div class="fh5co-table2 fh5co-table2 text-center">
                                <div class="fh5co-table-cell2">
                                    <img src="{% static 'images/alice.png' %}" class="photo"/>
                                </div>
                            </div>
                            <div class="holder-section">
                                <h3>MORIN ALICE</h3>
                                <p>20 ans </p>
                            </div>
                        </div>


                        <div class="fh5co-services-right">
                            <div class="fh5co-table2 fh5co-table2 text-center">
                                <div class="fh5co-table-cell2">
                                    <img src="{% static 'images/auxane.png' %}" class="photo"/>
                                </div>
                            </div>
                            <div class="holder-section">
                                <h3>VALEMBOIS AUXANE</h3>
                                <p>20 ans </p>
                            </div>
                        </div>
                    </div>
    
                
                    <div class="col-md-4 col-sm-6">
                        <div class="fh5co-services">
                            <div class="fh5co-table2 fh5co-table2 text-center">
                                <div class="fh5co-table-cell2">
                                    <img src="{% static 'images/melvin.png' %}" class="photo"/>
                                </div>
                            </div>
                            <div class="holder-section">
                                <h3>LECAT MELVIN</h3>
                                <p>21 ans </p>
                            </div>
                        </div>


                        <div class="fh5co-services">
                            <div class="fh5co-table2 fh5co-table2 text-center">
                                <div class="fh5co-table-cell2">
                                    <img src="{% static 'images/quentin.png' %}" class="photo"/>
                                </div>
                            </div>
                            <div class="holder-section">
                                <h3>TANLET QUENTIN</h3>
                                <p>20 ans  </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  <!-- Fin du Qui sommes-nous ? -->

        </div>

        <!-- Bas de page  -->
        <footer>
            <div id="footer" class="fh5co-border-line">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <p>Template de <a href="http://freehtml5.co/" target="_blank">Freehtml5.co</a> </p>
                            <p class="fh5co-social-icons">
                                <a href="https://trello.com/invite/b/rWUJlHJY/34aaa0e67376cd3a0dcb06c5841b2b97/avanc%C3%A9e-du-projet">
                                <i class="icon-trello"></i></a>
                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>

</html>