<!DOCTYPE html>
{% load static %}
<html>
    <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Projet tutoré groupe 7</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Analyses de données dans le cadre d'un projet tutoré" />
        <!-- <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" /> -->
        <meta name="author" content="FREEHTML5.CO" />

        <meta property="og:title" content=""/>
        <meta property="og:image" content=""/>
        <meta property="og:url" content=""/>
        <meta property="og:site_name" content=""/>
        <meta property="og:description" content=""/>

        <!-- Icon du site web -->
	    <link rel="shortcut icon" href="{% static 'images/icon.png' %}">
        <!-- Animate.css -->
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <!-- Icomoon Icon Fonts-->
        <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
        <!-- Bootstrap  -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <!-- Owl Carousel -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

        <link rel="stylesheet" href="{% static 'css/style.css' %}">

		<!-- Charts -->
		<script type="module" src="{% static 'js/ChartJS/dist/chart.min.js' %}"></script>

        <!-- Modernizr JS -->
	    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    </head>

    <body>

        <!-- Haut de page  -->
        <header>
            <div class="container text-center">
                <div class="fh5co-navbar-brand">
                    <a class="fh5co-logo" href="{% url 'accueil' %}">Analyses</a>
                </div>
                <nav id="fh5co-main-nav" role="navigation">
                    <ul>
                        <li><a href="{% url 'accueil' %}">Acceuil</a></li>
                        <li><a href="{% url 'graphe' %}" class="active">Graphe</a></li>
                        <li><a href="{% url 'carte' %}">Carte</a></li>
                    </ul>
                </nav>
            </div>
        </header> 
		<!--Fin du haut de page  -->

		<script>
			Possibilities = ["Total des médailles par pays", "Ratio 'Femme / Homme'"];
			LstPays = {{countries|safe}};
			AllMedals = {{Medals|safe}};
			AllData = {{AllData|safe}};
			
		</script>
		<script type="module" src="{% static 'js/graph.js' %}"></script>

		<!-- graphe -> Choisissez un pays + menu déroulant--> 
		<div id="fh5co-common-section">
			<div class="container">
				<div class="heading-section text-center" id="div_select">
					<h2>Choisissez un graphique : </h2>
					<select id="select" name="my_html_select_box">
						<option> - </option>
					</select>
				</div>
			</div>
		</div>

	    <!--Graphe et légendes-->
		<div class="row about">
				<div class="col-md-10 col-md-offset-1 text-center">
					<!--Image graphe-->
					<canvas id="graph" class="text-center"></canvas>		
				</div>
		</div>
			
		<!-- Bas de page -->
		<footer> 
			<div id="footer" class="fh5co-border-line">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center">
							<p>Template de <a href="http://freehtml5.co/" target="_blank">Freehtml5.co</a> </p>
							<p class="fh5co-social-icons">
								<a href="https://trello.com/invite/b/rWUJlHJY/34aaa0e67376cd3a0dcb06c5841b2b97/avanc%C3%A9e-du-projet%22%3E" <i class="icon-trello"></i></a>

							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>

	</body>
</html>

